/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.11.2017, 23:40:49
    Author     : AKM
*/

.valve {
    position:absolute;
    height: 28.5px;
    width: 22.25px;
    background-image: url("icons/Ventil_(Outline)_icon.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
 }
 .valve.heating{
     background-image: url("icons/Ventil_(Heizen)_icon.svg") !important;
 }
.valve.water{
     background-image: url("icons/Ventil_(Wasser)_icon.svg") !important;
 }
.valve.fill{
     background-image: url("icons/Ventil_(Befuellen)_icon.svg") !important;
 }
 
 .valve1{
    position:absolute;
    height: 28px;
    width: 28px;
    background-image: url("/icons/Zuluft_(outline)_icon.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
 }
 
.valve1.manAir{background-image: url("/icons/Zuluft_Hand_(direkt)_icon.svg") !important;}
.valve1.manEarth{background-image: url("/icons/Zuluft_Hand_(EWT)_icon.svg") !important;}
.valve1.autoAir{background-image: url("/icons/Zuluft_Auto_(direkt)_icon.svg") !important;}
.valve1.autoEarth{background-image: url("/icons/Zuluft_Auto_(EWT)_icon.svg") !important;}
.valve1.offline{background-image: url("/icons/Zuluft_Auto_(offline)_icon.svg") !important;}

 
 .valve2{
    position:absolute;
    height: 28px;
    width: 28px;
    background-image: url("/icons/Bypass_(outline)_icon.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    
 }
.valve2.manBypassClosed{background-image: url("/icons/Bypass_Hand_(geschlossen)_icon.svg") !important;}
.valve2.manBypassOpened{background-image: url("/icons/Bypass_Hand_(offen)_icon.svg") !important;}
.valve2.autoBypassClosed{background-image: url("/icons/Bypass_Auto_(geschlossen)_icon.svg") !important;}
.valve2.autoBypassOpenend{background-image: url("/icons/Bypass_Auto_(offen)_icon.svg") !important;}
 
.red {
    background-color:#FFCDD2 !important;    
}
.blue {
    background-color:#BBDEFB !important;    
}
.green {
    background-color:#B9F6CA !important;    
}
.yellow {
    background-color:lightyellow !important;    
}
.purple {
    background-color:#E8EAF6 !important;    
}
